<link rel="stylesheet" href="{{ url_for('static', filename = 'members.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">

<!-- <link rel="stylesheet" href="{{ url_for('static', filename = 'font/font.css') }}"> -->
<style>
    .vjs-poster {
        background-image: url('https://static.igem.wiki/teams/5136/notebook/new.png');
    }

    .go-to-attribution {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
        /* 字体大小 */
        color: #6a5e93;
        /* 文字颜色 */
        font-weight: bold;
        /* 字体加粗 */
        text-decoration: none;
        /* 去掉下划线 */
        margin: 50px 0;
        /* 上下外边距 */
        position: relative;
        /* 相对定位用于箭头效果 */
        transition: color 0.3s ease;
        /* 颜色渐变效果 */
    }

    .go-to-attribution img {
        position: relative;
        left: 0;
        width: 10vw;
        transform: translateX(3vw);
        transition: transform 0.3s ease;
    }

    .go-to-attribution:hover {
        color: #534f7a;
    }

    .go-to-attribution:hover img {
        transform: translateX(6vw);
    }
</style>
<!--loading-->

<div class="container-member">
    <div class="hhh">
        <!--loading-->
        <!-- <div style="height: 100px;position: relative;;">112123131</div> -->
        <!--Magic-navbar-->
        <div class="grid-xie">
            <!-- 行元素 -->
            <div class="row">
                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('{{ url_for('static', filename='all/1.jpg') }}')"></div>
                        <div class="fan-top"
                            style="background-image: url('{{ url_for('static', filename='all/2.jpg') }}')"></div>
                    </div>
                </div>

                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('{{ url_for('static', filename='all/3.jpg') }}')"></div>
                        <div class="fan-top"
                            style="background-image: url('{{ url_for('static', filename='all/4.jpg') }}')"></div>
                    </div>
                </div>
                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('{{ url_for('static', filename='all/5.jpg') }}')"></div>
                        <div class="fan-top"
                            style="background-image: url('{{ url_for('static', filename='all/6.jpg') }}')"></div>
                    </div>
                </div>

                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('{{ url_for('static', filename='all/7.jpg') }}')"></div>
                        <div class="fan-top"
                            style="background-image: url('{{ url_for('static', filename='all/8.jpg') }}')"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- 单元格 -->
                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('{{ url_for('static', filename='all/11.jpg') }}')"></div>
                        <div class="fan-top"
                            style="background-image: url('{{ url_for('static', filename='all/12.jpg') }}')"></div>
                    </div>
                </div>
                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('{{ url_for('static', filename='all/13.jpg') }}')"></div>
                        <div class="fan-top"
                            style="background-image: url('{{ url_for('static', filename='all/14.jpg') }}')"></div>
                    </div>
                </div>
                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('{{ url_for('static', filename='all/15.jpg') }}')"></div>
                        <div class="fan-top"
                            style="background-image: url('{{ url_for('static', filename='all/16.jpg') }}')"></div>
                    </div>
                </div>
                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('{{ url_for('static', filename='all/17.jpg') }}')"></div>
                        <div class="fan-top"
                            style="background-image: url('{{ url_for('static', filename='all/18.jpg') }}')"></div>
                    </div>
                </div>
                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('{{ url_for('static', filename='all/19.jpg') }}')"></div>
                        <div class="fan-top"
                            style="background-image: url('{{ url_for('static', filename='all/20.jpg') }}')"></div>
                    </div>
                </div>
            </div>


            <div class="row">
                <!-- 单元格 -->
                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('{{ url_for('static', filename='all/21.jpg') }}')"></div>
                        <div class="fan-top"
                            style="background-image: url('{{ url_for('static', filename='all/22.jpg') }}')"></div>
                    </div>
                </div>
                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('{{ url_for('static', filename='all/23.jpg') }}')"></div>
                        <div class="fan-top"
                            style="background-image: url('{{ url_for('static', filename='all/24.jpg') }}')"></div>
                    </div>
                </div>
                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('{{ url_for('static', filename='all/25.jpg') }}')"></div>
                        <div class="fan-top"
                            style="background-image: url('{{ url_for('static', filename='all/26.jpg') }}')"></div>
                    </div>
                </div>
                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('{{ url_for('static', filename='all/27.jpg') }}')"></div>
                        <div class="fan-top"
                            style="background-image: url('{{ url_for('static', filename='all/28.jpg') }}')"></div>
                    </div>
                </div>
                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('{{ url_for('static', filename='all/29.jpg') }}')"></div>
                        <div class="fan-top"
                            style="background-image: url('{{ url_for('static', filename='all/30.jpg') }}')"></div>
                    </div>
                </div>
                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('{{ url_for('static', filename='all/31.jpg') }}')"></div>
                        <div class="fan-top"
                            style="background-image: url('{{ url_for('static', filename='all/32.jpg') }}')"></div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('{{ url_for('static', filename='all/43.jpg') }}')"></div>
                        <div class="fan-top"
                            style="background-image: url('{{ url_for('static', filename='all/34.jpg') }}')"></div>
                    </div>
                </div>
                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('{{ url_for('static', filename='all/45.jpg') }}')"></div>
                        <div class="fan-top"
                            style="background-image: url('{{ url_for('static', filename='all/36.jpg') }}')"></div>
                    </div>
                </div>
                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('{{ url_for('static', filename='all/47.jpg') }}')"></div>
                        <div class="fan-top"
                            style="background-image: url('{{ url_for('static', filename='all/38.jpg') }}')"></div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="welcome">
        <!-- <br><br><br><br><br> -->
        <span style="font-family: Comic Sans Ms;">Movie Recommend</span>
        <!-- <span style="font-family: Comic Sans Ms;">组长：刘清航</span>
        <span style="font-family: Comic Sans Ms;">组员：马显军，邹宇涵</span> -->

        <div class="tiaozhuan" style="flex-direction: row;">

            <div class="tiaozhuan-img" onclick="window.location.href='#section1';"
                style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-2/ljc-em.jpeg');">
                <!-- <a href="#section1">members</a> -->
            </div>
            <div class="tiaozhuan-img" onclick="window.location.href='#section2';"
                style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-2/kyh-hh.jpeg');">
                <!-- ADVISERS -->
            </div>
            <div class="tiaozhuan-img" onclick="window.location.href='#section3';"
                style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-2/xsh-xbqs.jpeg');">
                <!-- Instructor -->
            </div>
            <div class="tiaozhuan-img" onclick="window.location.href='#section4';"
                style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-1/cjh-yz.jpeg');">
                <!-- PI  -->
            </div>
        </div>
    </div>

</div>

<div id="banner">
    <div class="img-list img-wrapper">
        <div class="img-box">
            <div class="info">
                <h3 style="font-family: fangsong;">霸王别姬</h3>
            </div>
            <img src="../static/images/1.jpg" alt="">
        </div>
        <div class="img-box">
            <div class="info">
                <h3 style="font-family: fangsong;">复仇者联盟</h3>
            </div>
            <img src="../static/images/2.jpg" alt="">
        </div>
        <div class="img-box">
            <div class="info">
                <h3 style="font-family: fangsong;">控方证人</h3>
            </div>
            <img src="../static/images/3.jpg" alt="">
        </div>
        <div class="img-box">
            <div class="info">
                <h3 style="font-family: fangsong;">请以你的名字呼唤我</h3>
            </div>
            <img src="../static/images/4.jpg" alt="">
        </div>
        <div class="img-box">
            <div class="info">
                <h3 style="font-family: fangsong;">千与千寻</h3>
            </div>
            <img src="../static/images/5.jpg" alt="">
        </div>
        <div class="img-box" id="last-img-box">
            <div class="info">
                <h3 style="font-family: fangsong;">泰坦尼克号</h3>
            </div>
            <img src="../static/images/aq2.jpg" alt="">
        </div>
    </div>
</div>
    <!-- <button class="last btn">
        <p><-</p>
    </button>
    <button class="next btn">
        <p>-></p>
    </button> -->


<div class="container-member" id="section1">
    <img src="https://static.igem.wiki/teams/5136/member-tlp-3/member-fy1.png" alt="">
    <div class="fenlei">
        <span style="font-size: 90px; font-family: Comic Sans Ms;">猜你喜欢</span>
    </div>
    <div class="hhh-xie">
        <div class="grid-pin">
            <div class="row" style="margin-top:20px">
                {% for movie in movies_a %}
                <div class="pro-card-wrapper-pin" style="margin: 20px;">
                    <div class="pro-card-pin" style="width: 210px;height: 280px;">
                        <div class="zheng-body"
                            style="background-image: url('{{ url_for('static', filename='images/' + movie.movieId|string + '.jpg') }}');">
                            <div class="character">{{ movie.title }}</div>
                        </div>

                        <div class="fan-body"
                            style="background-image: url('{{ url_for('static', filename='images/' + movie.movieId|string + '.jpg') }}');">
                            <a href="https://movielens.org/movies/{{ movie.movieId|string }}" target="_blank"
                                class="hidden-link">goto</a>
                        </div>

                    </div>
                </div>
                {% endfor %}


            </div>



        </div>
    </div>

</div>



<script>



</script>
<script src="{{ url_for('static', filename = 'scroll.js') }}"></script>
<!-- <script src="{{ url_for('static', filename = 'js2024/loading.js') }}"></script> -->